<template>
    <div>
        <div class="bg-gradient">
            <div class="container">
                <p class="cursive-heading text-lowercase text-center" style="font-size: 5rem;">
                    {{ post.title }}
                </p>
            </div>
        </div>
        <div class="post-body">
            <div class="container">
                <div class="writtenby text-center">
                    <img class="profile-picture" :src="authorImage" alt="">
                    <h4 class="author">{{ post.written_by ? post.written_by.name : null }}</h4>
                    <p>{{ post.created_at ? post.created_at : 'sometime last month'}}</p>
                </div>
                <div class="row" v-if="post.image_name">
                    <div class="col">
                        <img class="img-fluid" :src="ImageRoute" alt="">
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col">
                        <span v-html="post.body"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-11 text-right">
                        <button class="btn btn-success" :disabled="disliked" @click.prevent="toggleReaction('like')">👍 {{ likesCount ? likesCount : 0 }}</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-danger" :disabled="liked" @click.prevent="toggleReaction('dislike')">👎 {{ dislikesCount ? dislikesCount : 0 }}</button>
                    </div>
                </div>
                <div class="pt-5">

                    <div class="row" v-show="findmore">
                        <div class="col">
                            <p @click="loadmore" class="clickable">Show older comments...</p>
                        </div>
                    </div>
                    <div class="row" v-if="comments.length > 0" v-for="comment in comments" :key="comment.id">
                        <div class="col">
                            <div class="comment-body shadow-sm p-2 mb-2 bg-white rounded">
                                <div class="row">
                                    <div class="col-1">
                                        <img class="profile-picture" style="max-width:45px;height:45px;" :src="getCommentImage(comment)" alt="">
                                    </div>
                                    <div class="col">
                                        <p>{{ comment.written_by ? comment.written_by.name : 'unknown user' }}<small style="opacity: 0.5;"> {{ comment.created_at }}</small></p>
                                        <span v-html="comment.data"></span>
                                    </div>
                                    <div class="col-1">
                                        <a v-if="comment.user_id == user_id || isAdmin" href="#" @click.prevent="deleteComment(comment.id)">delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row pt-3">
                        <div class="col" v-if="isLoggedIn == true">
                            <h5>Comment this post:</h5>
                            <form @submit="onSubmit">
                                <editor-content :editor="editor" style="border: 1px solid #ced4ad; border-radius: 0.25rem; padding: 0.375rem 0.75rem;"/>
                                <input type="submit" class="btn btn-orange pull-right mt-3" value="comment">
                            </form>
                        </div>
                        <div class="col" v-else>
                            <p>Please <router-link to="/login">login</router-link> to comment on this post</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { Editor, EditorContent } from 'tiptap';

    export default {
        components: {
            EditorContent,
        },
        data(){
            return {
                post: {},
                ImageRoute: '',
                editor: null,
                user_id: '',
                findmore: false,
                nextPage: 0,
                nextPageURL: '',
                authorImage: '',
                liked: false,
                disliked: false,
                likesCount: 0,
                dislikesCount: 0
            }
        },
        methods: {
            toggleReaction(reaction) {
                if(reaction == 'like' && !this.disliked){
                    this.liked = ! this.liked;
                    this.$store.dispatch('posts/react', {post_id: this.post.id, reaction: 'like', action: this.liked});
                    this.liked ? this.likesCount++ : this.likesCount--;
                }else if(reaction == 'dislike' && !this.liked){
                    this.disliked = ! this.disliked;
                    this.$store.dispatch('posts/react', {post_id: this.post.id, reaction: 'dislike', action: this.disliked});
                    this.disliked ? this.dislikesCount++ : this.dislikesCount--;
                }
            },
            onSubmit(e){
                e.preventDefault();

                this.$store.dispatch("comment/add", {
                    body: this.editor.getHTML(),
                    post: this.post.id
                }).then((data) => {
                    this.editor.setContent('');
                });

            },
            deleteComment(id){
                this.$store.dispatch("comment/delete", {
                    comment_id: id
                });
            },
            loadmore(){
                this.$store.dispatch('comment/loadmore', this.nextPageURL).then((resp) => {
                if(resp.current_page < resp.last_page){
                    this.findmore = true;
                    this.nextPage = resp.current_page+1;
                    this.nextPageURL = resp.next_page_url;
                }else{
                    this.findmore = false;
                }
                }).catch((error) => {
                    
                });
            },
            getCommentImage(data){
                return '/images/'+data.user_id+'/'+data.written_by.image_name;
            }
        },
        computed: {
            isLoggedIn(){
                return this.$store.getters['auth/authenticated'];
            },
            isAdmin(){
                return this.$store.getters['profile/admin'];
            },
            SinglePost() {
                return this.$store.getters["posts/show"];
            },
            comments() {
                return this.$store.getters["comment/all"];
            }
        },
        created() {
            this.user_id = this.$store.getters['profile/userid'];
            
            this.$store.dispatch('posts/fetchSinglePost', this.$route.params.id).then((data) => {
                this.post = data.post;
                this.ImageRoute = '/images/'+this.post.image_name;
                this. authorImage = '/images/'+this.post.author+'/'+this.post.written_by.image_name;
                this.likesCount = this.post.likes;
                this.dislikesCount = this.post.dislikes;
                if(this.post.reactions && this.post.reactions[0]){
                    if(this.post.reactions[0].type == 'like'){this.liked = true}else{this.disliked = true}
                }else if(!this.user_id){
                    this.liked = true;
                    this.disliked = true;
                }
            }).catch((error) => {
                
            });
            this.$store.dispatch('comment/fetch', this.$route.params.id).then((resp) => {
                if(resp.current_page < resp.last_page){
                    this.findmore = true;
                    this.nextPage = resp.current_page+1;
                    this.nextPageURL = resp.next_page_url;
                }else{
                    this.findmore = false;
                }
            }).catch((error) => {
                
            });
        },
        mounted(){
            this.editor = new Editor({
                content: '',
            })
        },
        beforeDestroy() {
            this.editor.destroy()
        }
    }
</script>
<style lang="scss" scoped>
    .bg-gradient{
        padding: 200px 0px 200px 0px;
    }
    .writtenby{
        margin-top: -75px;
    }
    .profile-picture{
        margin-bottom: 10px;
    }
    .clickable{
        cursor: pointer;
    }
</style>
