<template>
    <div>
        <div class="bg-gradient">
            <div class="container">
                <p class="cursive-heading text-center" style="font-size: 5rem;">
                    welcome to my blog!
                </p>
            </div>
        </div>
        <div class="container">
            <div class="row pt-5">
                <div class="col">
                    <h3 class="cursive-heading">popular posts</h3>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-4" v-for="post in popularPosts">
                    <div class="card shadow-lg mb-5 bg-white">
                        <img class="card-img-top" :src="postImage(post)">
                        <div class="card-body">
                            <img class="profile-picture card-profile" :src="postAuthorImage(post)" alt="">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text" v-if="post.body.length<75"><span v-html="post.body"></span></p>
                            <p class="card-text" v-else><span v-html="post.body.substring(0,75)+'...'"></span></p>
                            <router-link :to="{name: 'post', params: {id: post.id}}" class="btn btn-orange">Read more</router-link>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pt-5">
                <div class="col">
                    <h3 class="cursive-heading">latest posts</h3>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-4" v-for="post in allPosts.slice(0,postsShown)">
                    <div class="card shadow-lg mb-5 bg-white">
                        <img class="card-img-top" :src="postImage(post)">
                        <div class="card-body">
                            <img class="profile-picture card-profile" :src="postAuthorImage(post)" alt="">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text" v-if="post.body.length<75"><span v-html="post.body"></span></p>
                            <p class="card-text" v-else><span v-html="post.body.substring(0,75)+'...'"></span></p>
                            <router-link :to="{name: 'post', params: {id: post.id}}" class="btn btn-orange">Read more</router-link>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col"></div>
                <div class="col-6">
                    <button v-if="allPosts.length >= 3 && postsShown < allPosts.length" @click="loadMore" class="btn btn-block btn-orange">Give me more!</button>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                postsShown: 3
            };
        },
        methods: {
            loadMore () {
                this.postsShown *= 2
            },
            postImage(data) {
                if(data.image_name)
                    return '/images/'+data.image_name;
                else
                    return 'https://place-hold.it/800x600';
            },
            postAuthorImage(data) {
                return '/images/'+data.author+'/'+data.written_by.image_name;
            }
        },
        computed: {
            allPosts() {
                return this.$store.getters["posts/all"];
            },
            popularPosts() {
                return this.$store.getters["posts/popular"];
            }
        },
        created(){
            this.$store.dispatch("posts/fetch");
            this.$store.dispatch('posts/fetch', {data: 'popular'});
        } 
    }
</script>
<style lang="scss" scoped>
    .bg-gradient{
        padding: 100px 0px 100px 0px;
    }
    .writtenby{
        margin-top: -75px;
    }
    .profile-picture{
        margin-bottom: 10px;
    }
    .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    }
    .card-profile{
        max-width:45px;
        height:45px;
        position: absolute;
        right: 10px;
        top: 15rem;
    }
</style>