<template>
    <div class="container">
        <div class="row shadow-lg mb-5 mt-5 bg-white rounded">
            <div class="col-4 login-form-wrapper">
                <form @submit.prevent="submit">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input v-model="email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input v-model="password" type="password" class="form-control" placeholder="Password">
                      </div>
                      <button type="submit" class="btn btn-dark pull-right">Login</button>
                </form>

                <p>Not a user yet? <router-link to="/register">Register here</router-link></p>
            </div>
            <div class="col bg-gradient">
                <table style="height: 100%;">
                    <tbody>
                      <tr>
                        <td class="align-middle">
                            <h1 class="cursive-heading">Hello!</h1>
                            <h4 class="cursive-heading">Join me on my everyday adventure!</h4>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                email: "",
                password: ""
            };
        },
        computed: {

        },
        methods: {
            submit() {
                this.$store.dispatch("auth/login", {
                    email: this.email,
                    password: this.password
                }).then(() => {
                    // success
                    this.$router.push("profile");
                }).catch(() => {
                    // error
                });
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>

<style lang="scss" scoped>
    .bg-gradient{
        padding: 50px;
    }

    .login-form-wrapper{
        padding: 200px 30px 200px 30px;
    }
</style>