<template>
    <div class="container">
        <div class="row pt-5">
            <div class="col-8">
                <h4 class="cursive-heading">list of posts</h4>
                <ul class="list-group">
                    <li v-for="post in allPosts" :key="post.id" class="list-group-item">
                        <div class="row">
                            <div class="col">{{post.title}}</div>
                            <div class="col-3">
                                <router-link :to="{name: 'post', params: {id: post.id}}">view</router-link> /
                                <a href="#" @click="editPost(post)">edit</a> /
                                <a href="#" @click="deletePost(post.id)">delete</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col text-center">
                <img class="profile-picture" :src="profile_picture" alt="">
                
                <p>post count: {{ allPosts.length }}</p>
                <input type="text" @blur="updateUser('name')" class="form-control mt-2" v-model="newusername" placeholder="name">
                <small class="text-danger">{{ this.errors['data.name'] ? this.errors['data.name'][0] : null }}</small>
                <input type="text" @blur="updateUser('email')" class="form-control mt-2" v-model="newuseremail" placeholder="email">
                <small class="text-danger">{{ this.errors['data.email'] ? this.errors['data.email'][0] : null }}</small>
                <input type="file" v-on:change="onImageChange($event, 'profile')" class="form-control mt-2">
                <small class="text-success" v-show="UserDataUpdated">User data was updated</small>

                <input class="form-control mt-5" type="password" placeholder="old password" v-model="old_pass">
                <small class="text-danger">{{ this.errors ? this.errors.old_pass : null }}</small>
                <input class="form-control mt-2" type="password" placeholder="new password" v-model="new_pass">
                <small class="text-danger">{{ this.errors ? this.errors.new_pass : null }}</small>
                <input class="form-control mt-2" type="password" placeholder="repeat new password" v-model="confirm_pass">
                <small class="text-danger">{{ this.errors ? this.errors.confirm_pass : null }}</small>
                <button class="btn btn-block btn-orange mt-2" @click="updatePass">Change Password</button>
                <small class="text-success" v-show="UserPassUpdated">Password was updated</small>
            </div>
        </div>
        <div>

            <!-- CREATE NEW POST  -->
            <div class="row pt-5">
                <div class="col">
                    <h4 class="cursive-heading">create a new post</h4>
                </div>
            </div>
            <form @submit="onSubmit">
                <div class="row pt-2">
                    <div class="col-4">
                        <label for="post-title">
                            Title
                            <small class="text-danger"> {{ this.errors.title ? this.errors.title[0] : null }}</small>
                        </label>
                        <input type="text" class="form-control" v-model="title" id="post-title">
                        <input type="hidden" class="form-control" v-model="edit_post_id">
                    </div>
                    <div class="col">
                        <label>Public</label>
                        <select class="form-control">
                            <option :selected="public"> Yes</option>
                            <option :selected="!public"> No</option>
                        </select>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-4">
                        <label for="post-image">Image</label>
                        <input type="file" v-on:change="onImageChange($event, 'post')" class="form-control">
                        <div v-if="image">
                            <img :src="image" class="img-fluid">
                        </div>
                    </div>
                    <div class="col">
                        <label for="post-body">
                            Post Content
                            <small class="text-danger"> {{ this.errors.body ? this.errors.body[0] : null }}</small>
                        </label>
                        
                        <editor-content :editor="editor" v-model="body" style="border: 1px solid #ced4ad; border-radius: 0.25rem; padding: 0.375rem 0.75rem;"/>
                        <input type="submit" class="btn btn-orange pull-right mt-2" value="submit">
                    </div>
                </div>
            </form>
            <div class="row pt-5" v-show="isAdmin">
                <div class="col">
                    <h4 class="cursive-heading">list of users</h4>
                    <ul class="list-group" v-if="allUsers.length > 0">
                        <li v-for="user in allUsers" :key="user.id" class="list-group-item">
                            <div class="row">
                                <div class="col">{{user.name}}</div>
                                <div class="col-3">
                                    <a href="#" @click="deleteUser(user.id)">vote off the island</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <p v-else>You are alone on the island... :(</p>
                </div>
            </div>
        </div>
    </div>
    
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';
    import { Editor, EditorContent } from 'tiptap';
    import VueFlashMessage from 'vue-flash-message';

    export default {
        components: {
            EditorContent,
        },
        data() {
            return {
                title: '',
                body: '',
                public: false,
                editor: null,
                image: null,
                useremail: '',
                username: '',
                newuseremail: '',
                newusername: '',
                edit_post_id: '',
                profile_picture: '',
                errors: {},
                UserDataUpdated: false,
                UserPassUpdated: false,
                old_pass: '',
                new_pass: '',
                confirm_pass: ''
            };
        },
        name: "Posts",
        methods: {
            onImageChange(e, place) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0], place);
            },
            createImage(file, place) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    if(place == 'post')
                        vm.image = e.target.result;
                    else
                        this.$store.dispatch('profile/updateImage', {
                            data: e.target.result,
                            user: this.userid
                        }).then(() => {
                            vm.profile_picture = e.target.result;
                        })
                };
                reader.readAsDataURL(file);
            },
            onSubmit(e){
                e.preventDefault();

                this.$store.dispatch("posts/add", {
                    title: this.title,
                    body: this.editor.getHTML(),
                    image: this.image,
                    author: this.userid,
                    edit_id: this.edit_post_id
                }).then(
                    this.title = '',
                    this.editor.setContent(''),
                    this.edit_post_id = '',
                    this.errors = {},
                    this.image = null
                ).catch(error => {
                    this.errors = error.response.data.errors;
                });
            },
            deletePost(id){
                if (confirm("Are you sure?") == true) {
                    this.$store.dispatch("posts/delete", {
                        post_id: id
                    });
                }
            },
            deleteUser(id){
                if (confirm("You know they cant come back right?!") == true) {
                    this.$store.dispatch("users/delete", {
                        user_id: id
                    });
                }
            },
            editPost(data){
                this.edit_post_id = data.id;
                this.title = data.title;
                this.editor.setContent(data.body);
                this.public = data.public;
            },
            updateUser(field){
                if(this.newuseremail !== this.useremail || this.newusername !== this.username){
                    this.$store.dispatch("profile/update", {
                        id: this.userid,
                        data: {
                            email: this.newuseremail,
                            name: this.newusername
                        }
                    }).then(() => {
                        this.errors = {};
                        this.username = this.newusername;
                        this.useremail = this.newuseremail;
                        this.UserDataUpdated = true;
                    }).catch(error => {
                        this.errors = error.response.data.errors;
                    });
                }
            },
            updatePass(e){
                this.UserPassUpdated = false;
                this.$store.dispatch("profile/password", {
                        id: this.userid,
                        old_pass: this.old_pass,
                        new_pass: this.new_pass,
                        confirm_pass: this.confirm_pass
                    }).then(() => {
                        this.UserPassUpdated = true;
                        this.errors = {};
                        this.old_pass = '';
                        this.new_pass = '';
                        this.confirm_pass = '';
                    }).catch(error => {
                        this.UserPassUpdated = false;
                        this.errors = error.response.data.errors;
                });
            }
        },
        computed: {
            allPosts() {
                return this.$store.getters["posts/all"];
            },
            isAdmin() {
                return this.$store.getters["profile/admin"];
            },
            allUsers() {
                return this.$store.getters["users/all"];
            }
        },
        created(){
            
            this.useremail = this.$store.getters["profile/email"];
            this.username = this.$store.getters["profile/username"];
            this.newuseremail = this.$store.getters["profile/email"];
            this.newusername = this.$store.getters["profile/username"];
            this.userid = this.$store.getters["profile/userid"];
            this.profile_picture = '/images/'+this.userid+'/'+this.$store.getters["profile/profile_picture"];
            this.$store.dispatch("posts/fetchmine", {user: this.userid});
            this.$store.dispatch("users/fetch");
        },
        mounted(){
            this.editor = new Editor({
                content: '',
            })
        },
        beforeDestroy() {
            this.editor.destroy()
        }
    }
</script>
