<template>
    <div class="container">
        <div class="row shadow-lg mb-5 mt-5 bg-white rounded">
            <div class="col-4 register-form-wrapper">
                <form @submit.prevent="submit">
                    <div class="form-group">
                        <label>Name</label>
                        <input v-model="name" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input v-model="email" type="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input v-model="password" type="password" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Repeat password</label>
                        <input v-model="repeat_password" type="password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-dark pull-right">Login</button>
                </form>

                <p>Already a user? <router-link to="/login">Login here</router-link></p>
            </div>
            <div class="col bg-gradient">
                <table style="height: 100%;">
                    <tbody>
                      <tr>
                        <td class="align-middle">
                            <h1 class="cursive-heading">Hello!</h1>
                            <h4 class="cursive-heading">Join me on my everyday adventure!</h4>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                email: "",
                password: "",
                repeat_password: "",
                name: ""
            };
        },
        computed: {

        },
        methods: {
            submit() {
                this.$store.dispatch("auth/register", {
                    email: this.email,
                    password: this.password,
                    repeat_password: this.repeat_password,
                    name: this.name
                }).then((data) => {
                    this.$store.dispatch("auth/login", {
                    email: this.email,
                    password: this.password
                    }).then(() => {
                        // success
                        this.$router.push("profile");
                    }).catch(() => {
                        // error
                    });
                }).catch(error => {
                    //this.errors = error.response.data.errors;
                    //console.log(errors);
                });
            }
        }
    }
</script>

<style lang="scss" scoped>
    .bg-gradient{
        padding: 50px;
    }

    .register-form-wrapper{
        padding: 100px 30px 132px 30px;
    }
</style>