.footer {
    color: $orange;
}

.cursive-heading {
    font-family: $font-heading;
}

.my-banner {
    width:100%;
    height: 500px;
    background-image: url('https://francis.ventures/wp-content/uploads/2018/03/nest-blog-banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: $font-heading;
    color: #fff;
}

.pull-right{
    float:right !important;
}

.btn-orange{
    background-color: $orange;
}

.bg-gradient{
    background: $gradient-backup;
    background: $gradient;
}

.profile-picture{
    border-radius: 50%;
    max-width: 150px;
    height: 150px;
    border: 2px solid #f2f2f2;
}

.author{
    text-transform: capitalize;
}