// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-heading: 'Shadows Into Light Two', 'cursive';
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: rgb(237,166,27);
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$gradient: linear-gradient(90deg, rgba(237,166,27,1) 0%, rgba(255,211,0,1) 100%);
$gradient-backup: $orange;