<template>
    <div id="page-content">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container">
                <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <router-link class="nav-link" to="/">Home</router-link>
                        </li>
                        <!--<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Categories
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#">Travel</a>
                              <a class="dropdown-item" href="#">Food</a>
                              <a class="dropdown-item" href="#">Lifestyle</a>
                              <a class="dropdown-item" href="#">Fashion</a>
                            </div>
                          </li> -->
                    </ul>
                </div>
                <div class="mx-auto order-0">
                    <a class="navbar-brand mx-auto cursive-heading" href="#">my blog</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item" v-if="isLoggedIn == true">
                            <router-link class="nav-link" to="/profile">profile</router-link>
                        </li>
                        <li class="nav-item" v-if="isLoggedIn == false">
                            <router-link class="nav-link" to="/login">Login</router-link>
                        </li>
                        <li class="nav-item" v-else>
                            <a class="nav-link" href="#" @click.prevent="logout">logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

      <!-- router view -->
        <router-view></router-view>
      <!-- footer -->
        <div class="footer-wrapper">
            <footer class="pt-5 pb-5 mt-5 bg-dark static-bottom footer">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h5 class="cursive-heading">Find me on social!</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <img src="/social/facebook.png" alt="" style="max-height:40px;" class="m-2">
                            <img src="/social/youtube.png" alt="" style="max-height:56px;" class="m-2">
                            <img src="/social/instagram.png" alt="" style="max-height:40px;" class="m-2">
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</template>

<script>
    export default {
        methods: {
            logout() {
                this.$store.dispatch("auth/logout").then(() => {
                    this.$router.push("/login");
                });
            }
        },
        computed: {
            isLoggedIn(){
                return this.$store.getters['auth/authenticated'];
            },
            isAdmin(){
                return this.$store.getters['profile/admin'];
            }
        }
    }
</script>